@{ Layout = "_GetRoomDataLayout.cshtml";}


<!-- Begin Page Content -->
@*<template>
    <div id="page">
        <Toast />
        <div class="layout-main">
            <router-view v-if="isRouterAlive" />
        </div>
    </div>
</template>*@

<div id="app" style="height: 100%;">
    @*<router-view v-if="isRouterAlive" />*@
    <router-view v-if="isRouterAlive"></router-view>

    <div class="my-2">
        <div class="row">
            <div class="col-10">
                <b-form-group label="關鍵字搜尋" label-for="filter-input" label-cols-sm="3" label-align-sm="right"
                              label-size="sm" class="mb-0">
                    <b-input-group size="sm">
                        <b-form-input id="filter-input" v-model="filter" type="search" placeholder="請輸入關鍵字">
                        </b-form-input>

                        <b-input-group-append>
                            <b-button :disabled="!filter" v-on:click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>

            </div>

        </div>
    </div>
    <div class="card mb-4">
        <b-table striped hover id="table" :fields="fields" :items="roomList"
                 label-sort-asc="" label-sort-desc="" label-sort-clear=""
                 :per-page="perPage" :current-page="currentPage"
                 :filter="filter" :filter-included-fields="filterOn" v-on:filtered="onFiltered">

            <!-- 詳細按鈕 -->
            <template #cell(Detail)="row">
                <b-button v-on:click="row.toggleDetails" class="detail-btn">詳細</b-button>
            </template>

            <!--刪除-->
            <template #cell(Delete)="row">
                <b-button :disabled="checkDelete(row.item.status)" v-on:click="deleteAccount(row.item.roomId)" class="btn-danger">下架</b-button>
            </template>

            <!-- 查看詳情的card -->
            <template #row-details="row">
                <b-card>
                    <ul>
                        @*<li v-for="(value,key) in row.item" :key="key">{{toChinese(key)}} : {{value}}</li>*@
                        <li>房源編號:{{row.item.roomId}}</li>
                        <li>房源名稱:{{row.item.roomName}}</li>
                        <li>房東姓名:{{row.item.userName}}</li>
                        <li>地址:{{row.item.address}}</li>
                        <li>單價:{{row.item.unitPrice}}</li>
                        <li>房源狀態:{{row.item.status}}</li>
                        <li>創建時間:{{row.item.createTime}}</li>
                        <li hidden>{{row.item._showDetails}}</li>

                    </ul>
                </b-card>
            </template>

        </b-table>

        <!-- 分頁功能 -->
        <div class="mt-3">
            <b-pagination v-model="currentPage" :total-rows="rows" align="center" :per-page="perPage" aria-controls="table">
            </b-pagination>
        </div>
    </div>

</div>
<!-- End of Main Content -->

@section topCSS{
    <style>
        .detail-btn {
            background-color: #1cc88a
        }
    </style>

}


@section endJS{
    <script type="module">
        import RoomTemplate from '/js/RoomTemplate.js'
        let app = new Vue({
            inject:['reload'],
            el: '#app',
            data: {
                fields: [
                    { key: 'roomId', label: '房源編號', sortable: true },
                    { key: 'roomName', label: '房源名稱' },
                    { key: 'userName', label: '房東姓名' },
                    { key: 'address', label: '地址' },
                    { key: 'unitPrice', label: '單價', sortable: true },
                    { key: 'status', label: '房源狀態' },
                    { key: 'createTime', label: '創建時間', sortable:true },
                    { key: 'Detail', label: '' },
                    { key: 'Delete', label: '' }
                ],
                roomList: [],
                perPage: 10,
                currentPage: 1,
                filter: null,
                filterOn: [],
                isRouterAlive: true,

            },
            methods: {
                getData() {
                    fetch('/api/GetRoom/GetAllRoomData', {
                        headers: {
                            'Content-type': 'application/json',
                            'Authorization': GenCurrentAuthBarerFormat(),
                        },
                        method: 'Get',
                    })
                        .then(response => response.json())
                        .then(jsondata => {
                            console.log(jsondata)
                            this.roomList = jsondata
                            console.log(this.roomList)
                        })
                },
                onFiltered(filteredItems) {
                    // Trigger pagination to update the number of buttons/pages due to filtering
                    this.totalRows = filteredItems.length
                    this.currentPage = 1
                },
                //toChinese(key) {
                //    switch (key) {
                //        case 'roomId':
                //            return '房源編號'
                //        case 'roomName':
                //            return '房源名稱'
                //        case 'userName':
                //            return '房東名稱'
                //        case 'address':
                //            return '縣市'
                //        case 'unitPrice':
                //            return '單價'
                //        case 'status':
                //            return '房源狀態'
                //        case 'createTime':
                //            return '創建時間'
                //    }
                //},
                deleteAccount(roomId) {
                    console.log(roomId)
                    alert('確定要下架該房源?')
                    fetch('/api/GetRoom/UpdateRoomStatus', {
                        headers: {
                            'Content-type': 'application/json',
                            'Authorization': GenCurrentAuthBarerFormat(),
                        },
                        body: JSON.stringify(roomId),
                        method: 'Post',
                    })
                        .then(response => response.json())
                        .then(jsondata => {
                            console.log(jsondata)
                            //window.location.reload() //讓畫面刷新
                            this.getData()
                            //this.reload()
                        })
                },
                checkDelete(msg) {
                    if (msg == '已下架') return true
                    else return false
                },
            },
            created() {
                this.getData()
            },
            computed: {
                rows() {
                    return this.roomList.length
                }
            }
        })

    </script>

}