@{Layout = "_GetUsersDataLayout.cshtml";}

<!-- Begin Page Content -->
<div class="card mb-4" id="app">
        <b-table striped hover :fields="fields" :items="userList" label-sort-asc="" label-sort-desc="" label-sort-clear="">

            <!-- #cell()括弧內要放fields的key -->
            <template #cell(Detail)="row">
                <!-- 點開可以跳出內容 -->
                <b-button v-on:click="row.toggleDetails" class="detail-btn">詳細</b-button>
            </template>

            <!-- 可以自定義row -->
            <template #row-details="row">
                <b-card>
                    <ul>
                        <li v-for="(value,key) in row.userList" :key="key">{{key}} : {{value}}</li>
                    </ul>
                </b-card>
            </template>
        </b-table>
</div>
<!-- End of Main Content -->

@section topCSS{
    <style>
        .detail-btn {
            background-color: #1cc88a
        }
    </style>

}


@section endJS{
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                fields: [
                    { key: 'userId', label: '會員編號', sortable: true },
                    { key: 'name', label: '會員名稱' },
                    { key: 'email', label: '電子郵件' },
                    { key: 'createTime', label: '創建時間', sortable:true },
                    { key: 'Detail', label: '查看詳情' }
                ],
                userList:[]
            },
            methods: {
                getUsers() {
                        fetch('/api/GetUserData/GetUsersData', {
                            headers: {
                                'Content-type': 'application/json',
                                'Authorization': GenCurrentAuthBarerFormat(),
                            },
                            method: 'Get',
                        })
                            .then(response => response.json())
                            .then(jsondata => {
                                console.log(jsondata)
                                this.userList = jsondata
                            })
                    }
            },
            created() {
                    this.getUsers()
            }

        });

    </script>

}